/* Write your code here: */
/* Group Selector*/
h1, h2{
    color: blueviolet;
}

/* Parent Selector*/
.box > p{
    color: firebrick;
}

/* Descendant Selector*/
.box li{
    color: blue;
}

/* Chained Selector*/
li.done{
    color: seagreen;
}

ul p.done{
    font-size: 0.5rem;
}